<nav class="navbar navbar-fixed-top" style="margin-bottom: 0px; background-color: beige">
	<div class="container-fluid">
		<div class="navbar-header">
			<span class="navbar-brand glyphicon glyphicon-th-list"></span>
			<a href="{{ site.baseurl }}/index" class="navbar-brand" style="margin: 0; padding: 0">
				<img src="{{ site.baseurl }}/assets/img/logo.jpg" width="68px" height="50px">
			</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li id="home"><a href="{{ site.baseurl }}/index">Home</a></li>
				<li><a href="{{ site.baseurl }}/index">Video</a></li>
					<li><a href="{{ site.baseurl }}/index">Words</a></li>
						<li><a href="{{ site.baseurl }}/index">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-log-in" style="padding-right: 8px;"></span>Login</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-out" style="padding-right: 8px;"></span>Sign Up</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<div class="input-group">
					<div class="icon-search">
						<input type="text" class="form-control" placeholder="Search" style="border-radius: 14px; padding-right: 30px;">
					</div>
				</div>
			</form>
	  </div>
	</div>
</nav>
