---
layout: base
permalink: /
---
{% include sidebar.html %}

<section style="float: left; margin: auto; margin-left: 20%">
	<nav class="navbar navbar-default" style="margin-bottom: 0px; background-color: gainsboro; margin-top: 50px">
		<div class="container-fluid">
			<div>
				<ul class="nav navbar-nav">
					<li><a href="{{ site.baseurl }}/videos">Videos</a></li>
					<li><a href="{{ site.baseurl }}/words">Words</a></li>
					<li><a href="{{ site.baseurl }}/about">About</a></li>
				</ul>
		  </div>
		</div>
	</nav>
	<div class="container-fluid" style="background-color: antiquewhite; margin: auto">
	  {% assign videos = site.videos | reverse %}
	  {% for video in videos | limit: 100 %}
	  <div class="responsive">
		  <div class="img">
			<a href="{{ site.baseurl }}{{ video.url }}">
			  <img src="http://img.youtube.com/vi/{{video.youtube_id}}/0.jpg" alt="Forest" width="600px" height="400px">
			  <div class="desc">{{ video.title }}</div>
			  <time style="padding-left: 10px; color: darkviolet">{{ video.date | date: '%d %B %Y'}}</time>
			</a>
		  </div>
		</div>
	  {% endfor %}
	</div>
</section>

{% include footer.html %}
